{% extends "layout.html" %}

{% block title %}
About Page!
{% endblock %}

{% block content %}
<h1>About This Project</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eros in cursus turpis massa tincidunt dui ut ornare. Venenatis urna cursus eget nunc scelerisque viverra. Felis eget nunc lobortis mattis aliquam. Malesuada bibendum arcu vitae elementum curabitur vitae nunc. In iaculis nunc sed augue lacus viverra vitae congue eu. Est sit amet facilisis magna etiam tempor. Pellentesque id nibh tortor id. Elit eget gravida cum sociis natoque penatibus et. Dignissim suspendisse in est ante in nibh mauris cursus mattis. Tincidunt eget nullam non nisi est. Vitae sapien pellentesque habitant morbi tristique senectus et. Nibh praesent tristique magna sit amet purus gravida.</p>
{% endblock %}