{% extends "layout.html" %}

{% block title %}
{{item.product_name}}
{% endblock %}

{% block content %}
<h1>{{item.condition}} | {{item.product_name}} | ${{item.price}}</h1>
<div>Picture</div>
<p>Quantity: {{item.quantity}}</p>
<p>Category: {{category}}</p>
<p>Seller: {{seller.username}}</p>
<p>Description: {{item.description}}</p>
{% if seller.id == current_user.id %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.delete() }}</p>
    </form>
{% endif %}
{% endblock %}