<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <base href="http://127.0.0.1:5000/">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    </head>
    <body>
        <div id="header">

            <div>
            <a href="index">Home</a>
            {% if current_user.is_anonymous %}
            <a href="login">Login</a>
            <a href="forgotPass">Forgot your password?</a>
            {% else %}
            <p>Welcome {{current_user.username}}</p>
            <a href="update_info">Update Info</a> -
            <a href="logout">Logout</a> -
            <a href="delete_user">Delete Account</a>
            {% endif %}
            </div>

            <h4>Site Links</h4>
            <a href="index">Home</a> - <a href="all_items">All Items</a> - <a href="about">About</a> - <a href="login">Login</a> - <a href="register">Register</a>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>