{% extends "layout.html" %}

{% block title %}
Update Your Info
{% endblock %}

{% block content %}
<h1> Update your info </h1>
<h2> Please re-enter or update your email address to confirm </h2>
 <form action="" method="POST">
    {{ form.hidden_tag() }}
     <div>
         {{ form.firstname(placeholder="First")}}
         {% for error in form.firstname.errors %}
         <p>{{ error }}</p>
         {% endfor %}
     </div>
     <br>
     <div>
         {{ form.lastname(placeholder="Last")}}
         {% for error in form.username.errors %}
         <p>{{ error }}</p>
         {% endfor %}
     </div>
     <br>
     <div>
         {{ form.username(placeholder="Username")}}
         {% for error in form.username.errors %}
         <p>{{ error }}</p>
         {% endfor %}
     </div>
     <br>
     <div>
          {{ form.password1(placeholder="password")}}
          {% for error in form.password1.errors %}
          <p>{{ error }}</p>
          {% endfor %}
     </div>
     <br>
     <div>
          {{ form.password2(placeholder="Confirm password")}}
          {% for error in form.password2.errors %}
          <p>{{ error }}</p>
          {% endfor %}
     </div>
     <br>
     <div>
          {{ form.securityQuestion(placeholder="Security Question")}}
          {% for error in form.securityQuestion.errors %}
          <p>{{ error }}</p>
          {% endfor %}
     </div>
     <br>
     <div>
          {{ form.securityQuestionAnswer(placeholder="Answer")}}
          {% for error in form.password2.errors %}
          <p>{{ error }}</p>
          {% endfor %}
     </div>
     <br>
     <div>
         {{ form.email(placeholder="E-mail")}}
         {% for error in form.email.errors %}
         <p>{{ error }}</p>
         {% endfor %}
     </div>
     <br>
     <div>
         {{ form.submit() }}
     </div>
 </form>


{% for message in get_flashed_messages() %}
<p>Error: {{message}} </p>
{% endfor %}
 <a href="login">Login instead</a>
{% endblock %}